
<div class="row text-center align-middle mt-5">
    <div claas="col-md-6">
        <h5 class="text-info">The item you request doesn't exist or you did somthing wrong recap your request</h5>
        <a class="btn btn-outline-info mt-3" asp-controller="Movies" asp-action="Index">Home Page</a>
    </div>
</div>